<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>TritPack</string>
    <key>CFBundleExecutable</key>
    <string>tritpack-desktop</string>
    <key>CFBundleIdentifier</key>
    <string>io.tritpack.desktop</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>TritPack</string>
    <key>CFBundleIconFiles</key>
    <array>
        <string>TritPack</string>
    </array>
    <key>CFBundleIconName</key>
    <string>TritPack</string>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>TritPack</string>
            </array>
            <key>CFBundleIconName</key>
            <string>TritPack</string>
        </dict>
    </dict>
    <key>CFBundleName</key>
    <string>TritPack</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
